<div class="card">
  <div class="card-header">
      <h3>Objetivo do negócio</h3>
  </div>
  <div class="card-body">
        <h5>Desenvolver uma página ou sistema que capte o nome, E-mail e salário do funcionário e em seguida execute a seguinte regra:</h5>
        <ul>
          <li>Para salários de R$ 3.000,00 à R$ 5.000,00 teremos 10% de impostos</li>
          <li>Para salários de R$ 5.000,00 à R$ 7.000,00 teremos 15% de impostos</li>
          <li>Para salários acima R$ 7.000,00 teremos 25% de impostos</li>
          <li>Salários abaixo de R$ 3.000,00 serão isentos</li>
        </ul>
        <h5>Após a captação e aplicação dos impostos, deve ser exibido na tela o seguinte:</h5>
        <ul>
          <li>Nome do funcionário</li>
          <li>Valor líquido do salário</li>
          <li>Faixa de imposto aplicada</li>
          <li>Valor final com dedução do imposto</li>
        </ul>
  </div>
</div>
